
				[Desktop Entry]
				Name=Shortcut to My Program Exec=/home/zach/Desktop/YuzuWindows/Yuzu.AppImage
				Icon=/path/to/your/icon.png
				Terminal=false
				Type=Application